body{
    font-family:'Segoe UI',sans-serif;
    background:linear-gradient(135deg,#74ebd5,#bd9fe6);
    padding:30px;
}

.container{
    max-width:1100px;
    margin:auto;
}

.trip-image{
    width:100%;
    height:350px;
    object-fit:cover;
    border-radius:15px;
}

.result-card{
    background:rgb(169, 255, 229);
    padding:25px;
    border-radius:15px;
    margin-top:20px;
}

.summary-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:15px;
}

.summary-item{
    background:#88cdfead;
    padding:15px;
    border-radius:12px;
}

.total-box{
    margin-top:20px;
    text-align:center;
    background:#3d77ff;
    color:rgb(255, 255, 255);
    padding:20px;
    border-radius:15px;
}

.button-group{
    display:flex;
    gap:10px;
    justify-content:center;
    flex-wrap:wrap;
    margin-top:20px;
}

.button-group button{
    padding:12px 20px;
    border:none;
    border-radius:10px;
    color:rgb(0, 0, 0);
    cursor:pointer;
}

.back-btn{
    display:inline-block;
    margin-top:90px;
    right:670px;
    position:absolute;
    background:#4f46e5;
    color:white;
    text-decoration:none;
    padding:12px 20px;
    border-radius:10px;
}

.save-trip-container{
    display:flex;
    justify-content:center;
    margin-top:30px;
}

.save-trip-container form{
    width:100%;
    max-width:350px;
}

.save-trip-container button{
    width:100%;
    padding:15px;
    font-size:18px;
    font-weight:700;
    border:none;
    border-radius:12px;
    cursor:pointer;
    background:linear-gradient(
        135deg,
        #00c853,
        #00e676
    );
    color:white;
    box-shadow:0 8px 20px rgba(0,200,83,.3);
}

.save-trip-container button:hover{
    transform:translateY(-2px);
}



.action-center{
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top:30px;
}

.action-center form{
    width:auto;
}

.update-btn,
.save-btn{
    min-width:220px;
    padding:14px 30px;
    border:none;
    border-radius:12px;
    font-size:16px;
    font-weight:600;
    cursor:pointer;
    color:white;
}

.update-btn{
    background:#f39c12;
}

.save-btn{
    background:#27ae60;
}

.update-btn:hover,
.save-btn:hover{
    transform:translateY(-2px);
}